@import '../../../styles/_variables.scss';
@import '../../../styles/_fonts.scss';

.search-section {
  display: flex;
  flex-direction: column;
  padding: 30px;

  &__buttons {
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  &__search-bar {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
