@import 'styles/_variables';

.studio__note-column {
  height: 498px;
  display: grid;
  grid-auto-rows: 2fr;
  > button {
    &:not(:last-child) {
      border-bottom: 0px;
    }
    &:nth-child(12) {
      border-bottom: 3px rgba($main-theme-color, 0.5) solid;
    }
  }
}
.playing {
  background-color: rgba(black, 0.1) !important;
}
