.profile-image {
    border: red 1px solid;
    &__container {
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }
  
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // position: absolute;
    }
  }
  
  .profile-image__container {
    &--vertical {
      &-small {
        width: 50px;
        height: 50px;
      }
  
      &-medium {
        width: 100px;
        height: 100px;
      }
  
      &-large {
        width: 200px;
        height: 200px;
      }
    }
    &--horizontal {
      &-small {
        width: 20px;
        height: 20px;
      }
  
      &-medium {
        width: 50px;
        height: 50px;
      }
  
      &-large {
        width: 100px;
        height: 100px;
      }
    }
  }