.profile-label__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;

  &--vertical {
    &-small {
      text-align: center;
      font-size: 12px;
      width: 60px;
    }

    &-medium {
      text-align: center;
      font-size: 16px;
      width: 100px;
    }

    &-large {
      text-align: center;
      font-size: 30px;
      width: 200px;
    }
  }
  &--horizontal {
    &-small {
      font-size: 14px;
      width: 100px;
      height: 20;
    }

    &-medium {
      font-size: 40px;
      width: 340px;
    }

    &-large {
      font-size: 60px;
      width: 450px;
    }
  }
}
