@import 'styles/_variables';

.studio__recommend {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  &-result-list {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  &::-webkit-scrollbar {
    width: 5px;
    &-thumb {
      background-color: $main-theme-color;
    }
  }
}
