@import 'styles/_variables';

.studio__chord {
  // background-color: #efefef;
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-theme-color;
  }

  &-title-area {
    width: 100%;
    height: 50px;
    // padding: 20px 0px;
    background-color: #efefef;
    > .section-title {
      // color: $header-color;
      font-size: 18px;
    }
  }
  &-content-area {
    padding-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
