.album__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.halloffame__container{
    // width: 50vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
}
.cards__container{
    margin-top: 20px;
    margin-bottom: 30px;
}