.album__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.halloffame__container {
  // width: 50vh;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: start;
}

.launch__button {
  width: 36px;
  height: 36px;
  right: 25px;
  bottom: 25px;
  position: fixed;
  color: white;
  background-color: #4642ff;
  padding: 10px;
  border-radius: 50%;
  z-index: 99;
  border: transparent;
}
.search-bar {
  margin-top: 50px;
  margin-bottom: 50px;
}
