$article-small-size: 470px;
$article-medium-size: 800px;

.article{
  &__entire{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__container{
    width: $article-medium-size;
  }
  &__container--small{
    width: $article-small-size;
  }
  &__content{
    margin-top: 10px;
    display: flex;
    width: 780px;
    min-height: 400px;
    text-align: start;
    white-space: pre-line;
  }
  &__button{
    color: white;
    display: flex;
    align-items: center;
    border-color: transparent;
    background-color: #C1B8F5;
    padding: 8px 12px;
    border-radius: 15px;
    &:hover{  
      background-color: #4642FF;
    }
  }
}

.comments__container{
  &--header{
    border-bottom: 3px solid #4642FF;
  }
  &--lines{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
