.board__page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board{
    &__banner{
        width: 100%;
        height: 100px;
        background-color: #4642FF;
        position: relative;
        &--title{
            font-size: 24px;
            font-weight: 500;
            color: white;
            position: absolute;   
            top: 38px;
            left: 300px;
        }
    }
    &__container{
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    &__write--button{
        position: relative;
        left: 310px;
        margin: 10px 0px;
    }
}


.category__container{
    top: 160px;
    left: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
}

.test{
    
}

