.board__container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category__container{
    display: flex;
    flex-direction: column;
    // position: absolute;
}

.test{
    background-color: aqua;
}