.board__page{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board{
    &__banner{
        width: 100%;
        height: 84px;
        background-color: #4642FF;
        position: relative;
        &--title{
            font-size: 24px;
            font-weight: 500;
            color: white;
            position: absolute;   
            top: 30px;
            // left: 300px;
            left: 10vw;
        }
    }
    &__container{
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    &__container-small{
        width: 486px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    &__write--button{
        position: relative;
        // left: 30vw;
        left: 360px;
        // right: 10%;
        margin: 10px 0px;
    }
}


.category{
    &__container{
        top: 160px;
        // left: 60px;
        left: 10vw;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        font-weight: 900;
        &--small{
            top: 160px;
            left: 4vw;
            display: flex;
            flex-direction: row;
            position: absolute;
            z-index: 10;
            font-weight: 900;
        }
    }
    &__active{
        color: #4642FF;
        margin-bottom: 5px;
        &:hover {
            scale: 1.05;
            transition: 0.3s;
        }
    }
    &__inactive{
        margin-bottom: 5px;
        &:hover {
            scale: 1.05;
            transition: 0.3s;
        }
    }
}

