.login-page__title {
    font-size: 1.5rem;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh
}