.main-page {
  &__banner {
    display: flex;
    flex-direction: column;
  }
  &__transparent-text {
    padding: 100px;
  }
  &__gif-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10vw;
  }
}
