.album-image{
    &__container{
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        background-color: aqua;
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        // position: absolute;
    }
}

.album-image__container {
    &-small{
        width: 50px;
        height: 50px;
    }

    &-medium{
        width: 100px;
        height: 100px;
    }

    &-large{
        width: 150px;
        height: 150px;
    }
}