.profile {
  &__container {
    align-items: center;

    &--vertical {
      &-small {
        display: flex;
        flex-direction: column;
        width: 60px;
        padding: 5px;
        height: auto;
      }

      &-medium {
        display: flex;
        flex-direction: column;
        width: 120px;
        padding: 10px;
        height: auto;
      }

      &-large {
        display: flex;
        flex-direction: column;
        width: 200px;
        padding: 20px;
        height: auto;
      }
    }
    &--horizontal {
      &-small {
        display: flex;
        flex-direction: row;
        width: 130px;
        padding: 5px;
        height: 34px;
      }

      &-medium {
        display: flex;
        flex-direction: row;
        width: 410px;
        padding: 10px;
        height: auto;
      }

      &-large {
        display: flex;
        flex-direction: row;
        width: 600px;
        padding: 20px;
        height: auto;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    &--vertical {
      &-small {
        width: 50px;
      }
      &-medium {
        width: 100px;
      }
      &-large {
        width: 200px;
      }
    }
    &--horizontal {
      &-small {
        width: 20px;
      }
      &-medium {
        width: 50px;
      }
      &-large {
        width: 100px;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    &--vertical {
      &-small {
        margin-top: 10px;
      }
      &-medium {
        margin-top: 20px;
      }
      &-large {
        margin-top: 40px;
      }
    }
    &--horizontal {
      &-small {
        margin-left: 5px;
      }
      &-medium {
        margin-left: 20px;
      }
      &-large {
        margin-left: 30px;
      }
    }
  }
}
