.aBoard{
    text-align: center;
    &__table{
        width: 800px;
        height: 446.5px;
    }
    &__table-small{
        width: 486px;
        // height: 446.5px;
    }
    &__head{
        border-bottom: 1px solid #E0D5F6;
        height: 30px;
        // border-spacing: 11px;
    }
    &__body{
    }
}

th{
    // border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    &:nth-child(1){
        width: 32px;
    }
    &:nth-child(2){
        width: 64px;
    }
    &:nth-child(3){
        width: 396px;
    }
    &:nth-child(4){
        width: 220px;
    }
    &:nth-child(5){
        width: 86px;
    }
}

.pagination{
    margin-top: 10px;
    margin-bottom: 10px;
    &__number{
        border-color: transparent;
        background-color: transparent;
        &--active{
            border-color: transparent;
            background-color: #4642FF;
            color: white;
            border-radius: 50%;
        }
    }
    &__Arrow{
        border-color: transparent;
        background-color: transparent;
    }
}