@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.halloffame{
    width: 100%;
    backdrop-filter: blur(4px);
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;

    &__background-blur{
        height: 100%;
        width: 100%;
        backdrop-filter: blur(4px);
        background: rgba(220, 220, 220, 0.2);
        position: absolute;
    }

    &__background{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    &__foreground-container{
        width: 50%;
        height: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    &__foreground-cover{
        display: block;
        position: absolute;
        z-index: 1;
    }

    &__foreground-info{
        padding-left: 120px;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &__slide{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        &--active{
            display: flex;
            animation-name: fadeIn;
        }
        &--inactive{
            display: none;
            animation-name: fadeOut;
        }
    }
}

.carouselClick{
    margin-top: 10px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #4642FF;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    
    &--not{
        margin-left: 6px;
        margin-right: 6px;
        background-color: #D9D9D9;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: none;
    }
}