.halloffame {
  width: 100%;
  backdrop-filter: blur(4px);
  height: 350px;
  position: relative;
  display: flex;
  justify-content: center;

  &__background-blur {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
    background: rgba(220, 220, 220, 0.2);
    position: absolute;
  }

  &__background {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__foreground-container {
    width: 50%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  &__foreground-cover {
    display: block;
    position: absolute;
    z-index: 1;
  }

  &__foreground-info {
    padding-left: 120px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &--active {
      display: flex;
    }
    &--inactive {
      display: none;
    }
  }
}

.carouselClick {
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: #4642ff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;

  &--not {
    margin-left: 6px;
    margin-right: 6px;
    background-color: #d9d9d9;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
  }
}
