@import 'styles/_variables';

.text-button {
  white-space: nowrap;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  font-size: 16px;
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  &--white {
    color: white;
  }
  &--blue {
    color: $main-theme-color;
    font-weight: 600;
  }
}
