.transparency-box {
  display: flex;
  justify-content: center;
  margin: 22vw 0px;
}

.transparency-text {
  font-weight: 900;
  font-size: 10vw;
  // font-size: 4vw;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
