.articleline{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
td{
    vertical-align: middle;
    height: 40px;
}

.smallcontainer{
    width: 400px;
    display: flex;
    justify-content: center;
}