.studio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  &__title {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding-left: 30px;
  }

  &__button {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 30px;
    margin-bottom: 30px;
  }
  &__container {
    width: 90%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__studio-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  &__studio {
    width: 33.3%;
    display: flex;
    justify-content: center;
  }

  &__blank {
    height: 60px;
  }
  &__empty {
    height: 100px;
    display: flex;
    justify-content: center;
  }
}
