.comment__input{
    width: 760px;
    border: 1px solid blue;
    padding: 10px;
    border-radius: 15px;
    &--button{
        display: flex;
        justify-content: end;
    }
    &--inputTextarea{
        resize: none;
        border: transparent;
        outline: 0;
    }
}