@import 'styles/_variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  box-sizing: border-box;
  padding: 30px;
  position: relative;

  &__nav-list {
    flex-grow: 1;
    display: flex;
    margin-left: 30px;
    > * {
      // 원래는 50px
      margin-left: 2vw;
    }
  }
  &__nav-item {
    position: relative;
  }
  &__profile-item {
    position: relative;
  }
  &__nav-item:hover .header__dropdown-list,
  &__profile-item:hover .profile__dropdown-list {
    display: flex;
  }
}

.header__dropdown {
  padding-top: 10px;
  position: absolute;
}
.header__profile-dropdown {
  position: absolute;
  left: -90%;
  top: 100%;
  transform: translateX(-50%);
}
