@import 'styles/_variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $max-width;
  box-sizing: border-box;
  padding: 30px;

  &__nav-list {
    flex-grow: 1;
    display: flex;
    > * {
      margin-left: 50px;
    }
  }
  &__nav-item {
    position: relative;
  }
  &__nav-item:hover .header__dropdown {
    display: flex;
  }
}
