@import '/src/styles/variables';
@import '/src/styles/fonts';
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  max-width: 600px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  &__title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__form {
    height: 94%;
    width: 70%;
  }
  &__album-title {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__input {
      margin-top: 5px;
      width: 100%;
    }
  }
  &__album-content {
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    &__input {
      margin-top: 5px;
      padding: 8px;
      box-sizing: border-box;
      width: 100%;
      height: 90%;
      border: 2px solid $main-theme-color;
      resize: none;
      border-radius: 10px;
    }
  }
  &__album-tag {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__input {
      margin-top: 5px;
      width: 100%;
    }
  }
  &__button {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__container {
      height: 15%;
      width: 120%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
