@import 'styles/_variables';

.header__dropdown {
  padding-top: 10px;
  position: absolute;
  &-list {
    background: $main-theme-color;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    width: 140px;
    left: 0;
  }
  &--hidden {
    display: none;
  }
  &--showed {
    display: flex;
  }
  * {
    font-weight: 200;
  }
}
