@import 'styles/_variables';

.profile__dropdown {
  &-list {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    border-radius: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px;
    width: 140px;
  }
  &--hidden {
    display: none;
  }
  &--showed {
    display: flex;
  }
//   * {
//     font-weight: 200;
//   }
}