.example-card{
    &__container{
        display: flex;
        width: 70%;
        height: 30vw;
        background-color: #AFADF9;
        border-radius: 30px;
        overflow: hidden;
      }
    &__img{
        width: 30vw;
        height: 100%;
        // overflow: hidden;
    }
    &__text-container{
        padding: 5.208vw;

    }
    &__header{
        text-align: start;
        font-size: 2.1875vw;
        font-weight: 500;
        color: white;
    }
    &__text{
        text-align: start;
        font-size: 1.4583vw;
        margin-top: 20px;
    }
    
}