.studio__header-controll {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &-icon {
    background: none;
    border: none;
  }
}
.studio__header-clear-button {
  margin-left: 30px;
  // height: 60%;
  > button {
    padding: 8px 10px;
  }
}
.studio__header-buttons {
  margin-left: 36px;
}
