.relay-studio__body {
  width: 100%;
  height: calc(100% - 47px);
  display: flex;
  flex-direction: row;
}
.relay-studio__content {
  width: 70%;
  height: 100%;
}
.relay-studio__side {
  width: 30%;
}
