@import 'variables';
@import 'fonts';

html,
body {
  font-family: 'Pretendard', sans-serif;
}
button {
  font-family: 'Pretendard';
}

.main--full-page {
  width: 100vw;
  height: 100vh;
}

.main--1440width {
  width: 1440px;
}
